    
    <div style="background-color: #2b2b2b;"class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
    <img src="/images/LFG-APP Logo.png" alt="Looking For Gamers Logo">

    </div>
    
    </main>
</body>
</html>