<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3" style="background-color:#38283a; color:#38283a; ;"><br>
    <h2 class="display-5" style="color:whitesmoke;">Gaming News<br>
    <small class="text-faded">Brought to you by <a href="https://kotaku.com/"><img width="250px" src="/images/kotaku-logo.png" alt="kotaku-logo-trans"></a></small></h2><br><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/051f13100acadff723ab0a6d11b01c1c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">This was Inevitable <br>
                        <small class="text-muted">Microsoft's proposed $70 billion purchase of Activision Blizzard is just the beginning</small>
                    </h5>
                    <p class="card-text">Microsoft’s purchase of Activision Blizzard has been momentous news today, as much for the scale of the deal as its shock value. But we shouldn’t be too surprised. 
                        This was inevitable. A handful of companies have always wanted to own everything, and nothing is going to stop them. 
                        The proposed sale—technicalities dictate I need to remind you that it still needs to be approved—involves some earth-shattering numbers. 
                        $70 billion is fake money, a make-believe sum normally reserved for national budgets and defence deals.</p><br>
                        <a class="stretched-link" style="color:darkslategrey;" href="https://kotaku.com/this-was-inevitable-1848380310">Read More</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 days ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/b1cb1c654573e1fc618ec11fcfb0b2d6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Halo Infinite Will Soon Let You Earn Credits For Playing<br>
                        <small class="text-muted">343 says the change won't go into effect until the second season
                        </small>
                    </h5>
                    <p class="card-text">This is not a drill: Halo Infinite will soon let you play your way into earning credits for its in-game shop. 
                        343 Industries senior community manager John Junyszek confirmed as much in a post on the Halo Waypoint forums tonight in what’s known 
                        in the American PR business as a “White House news dump.“Thanks to your continued feedback, we are happy to confirm Credits will be earnable in Season 2’s Battle Pass,” Junyszek wrote. “We’ll have more to share on this as we get closer to Season 2.”</p><br>
                        <br>
                        <a class="stretched-link" style="color:darkslategrey;" href="https://kotaku.com/halo-infinite-credits-when-is-season-two-battle-pass-xb-1848403757">Read More</a>
                </div>
                
                <div class="card-footer">
                    <small class="text-muted">Last updated 4 hours ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/3a7500e2108c3c02a76be0f92bedfa26.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ocarina Of Time Gets Surprise Emulation Fix On Switch<br>
                        <small class="text-muted">The N64 classic's Shadow Link fight has been partially fixed, a good sign for future Nintendo Switch Online emulation

                        </small>
                    </h5>
                    <p class="card-text">It seems Nintendo might be listening to Switch Online fans regarding emulation issues with some of the classic games it offers. Following a January 20 NSO update, which brought Rare’s 1998 N64 platformer Banjo-Kazooie to the subscription service, 
                        it appears that water in The Legend of Zelda: Ocarina of Time has been improved. This could be a good sign for future emulation quality on Nintendo Switch Online.
                        As spotted by VGC...</p><br>
                        <br>
                        <a class="stretched-link" style="color:darkslategrey;" href="https://kotaku.com/zelda-ocarina-of-time-nintendo-switch-online-emulation-1848401763">Read More</a>
                </div>
                
                <div class="card-footer">
                    <small class="text-muted">Last updated 6 hours ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_1600/131018644b51ad7b44e185f0f7b0a3b7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rainbow Six Extraction Should Be Your Next Game Pass Download<br>
                        <small class="text-muted">Ubisoft’s new co-op shooter is not what I expected and that’s a good thing
                        </small>
                    </h5>
                    <p class="card-text">Before covid-19 spread around the world and killed millions, Rainbow Six Extraction was first known in 2019 as Rainbow Six Quarantine. As the pandemic grew, the game went radio silent for a bit before understandably being renamed as Extraction. 
                        Now, after all that, Ubisoft’s newest and weirdest entry in the Rainbow Six franchise is finally out and I’m not sure what shocked me more: is it how much I’m enjoying killing aliens or...</p><br><br>
                        
                        <a class="stretched-link" style="color:darkslategrey;" href="https://kotaku.com/rainbow-six-extraction-review-ubisoft-quarantine-ps5-xb-1848401324">Read More</a>
                </div>
                
                <div class="card-footer">
                    <small class="text-muted">Last updated 6 hours ago</small>
                </div>
            </div>
        </div>
    </div> 
</div>