<%- include("./partials/header") %>

<div class="container-fluid">
<h1>Looking For Gamers</h1>
    
    <h3>The place where gamers find gamers.</h3>

    <h6>Looking For Gamers is a <s>REVOLUTIONARY</s> PRETTY COOL new social media platform designed to connect gamers together based on similar interests! <br>
    Also...WE KNOW! The site is in the earliest stages of development, so be sure to check back later for future updates.<br><br><br>

    Or join our mailing list for periodic updates on the app! <br>
    We hate spam just as much as you do, so we promise not to email you a ton! <br>
    JSYK! By providing your email here, you are opting into receiving emails from us...if that wasn't obvious!</h6>

    <h6>Sign up for Updates on LFG!</h6>
    <form action="/emails" method="POST">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="emails" name="emails" placeholder="yourname@example.com">
        </div>
        <button type="submit" class="btn btn-default">Sign Up!</button>
    </form>
</div>


<div class="container-fluid h-100">
    <h1>Create an Account for LFG!</h1>

    <h4>Don't Have an Account? Create a New LFG Account Below!</h4>
    <% if (messages) { %>
    <p><%= messages.error %></p>

    <% } %>
    <form action='/create' method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required placeholder="your name">
    </div>
    <div class="form-group">
        <label class="form-label" for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" required placeholder="pick a cool username">
    </div>
    <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required placeholder="LFG@app.com">
    </div>
    <div class="form-group">
        <label class="form-label" for="location">Location</label>
        <input type="location" class="form-control" id="location" name="location" placeholder="at your computer?">
    </div>
    <div class="form-group">
        <label class="form-label" for="discordId">Discord ID</label>
        <input type="text" class="form-control" id="discordId" name="discordId" placeholder="ilovediscord">
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" required class="form-control" placeholder="********">
    </div>
    <div class="form-group">
        <label class="form-label" for="pfImg">Upload a Profile Picture!</label>
        <input type="file" name="pfImg" id="pfImg" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Create Account!</button>
    </form>
    <h4>Do you already have an LFG account?<br> 
    Then <a href="/login">Login Here!</a></h4>
</div>
<div class="container-fluid">
   <h2>Gaming News</h2>

    <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/051f13100acadff723ab0a6d11b01c1c.jpg" alt="">

    <h3>This was Inevitable</h3>

    <h4>Microsoft's proposed $70 billion purchase of Activision Blizzard is just the beginning </br> by: Luke Plunkett</h4>

    <p>
        Microsoft’s purchase of Activision Blizzard has been momentous news today, as much for the scale of the deal as its shock value. But we shouldn’t be too surprised. 
        This was inevitable. A handful of companies have always wanted to own everything, and nothing is going to stop them. 
        The proposed sale—technicalities dictate I need to remind you that it still needs to be approved—involves some earth-shattering numbers. 
        $70 billion is fake money, a make-believe sum normally reserved for national budgets and defence deals. Uniting these two companies, 
        with all those properties and all those games, alongside a home console and a massively-popular subscription service, has instantly changed the entire shape of the video 
        game industry.
    </p>

    <a href="https://kotaku.com/this-was-inevitable-1848380310">Read More</a>
</div>

<%- include("./partials/footer") %>

