<%- include("./partials/header") %>

<h1>Looking For Gamers</h1>
    
    <h3>The place where gamers find gamers.</h3>

    <p>Looking For Gamers is a revolutionary new social media platform designed to connect gamers together based on similar tastes.</p>


<h1>Create an Account for LFG!</h1>

<h4>Don't Have an Account? Create a New LFG Account Below!</h4>
<% if (messages) { %>
<p><%= messages.error %></p>

<% } %>
<form action="/create" method="POST">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="userName">User Name</label>
    <input type="text" id="userName" name="userName" required>
</div>
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="location">Location</label>
    <input type="location" id="location" name="location">
</div>
<div>
    <label for="discordId">Discord ID</label>
    <input type="text" id="discordId" name="discordId">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button type="submit">Create Account!</button>
</form>
<h4>Do you already have an LFG account?<br> 
   Then <a href="/login">Login Here!</a></h4>

<%- include("./partials/footer") %>

