
<%- include("./partials/header") %>

<h1>Looking For Gamers</h1>
    
    <h3>The place where gamers find gamers.</h3>

    <p>Looking For Gamers is a revolutionary new social media platform designed to connect gamers together based on similar tastes.</p>


<h1>Login to LFG!</h1>

<h4>Returning User? If So Login to Your Existing LFG Account Below!</h4>
<h5>Or if you just created an account login here!</h5>
<% if (messages) { %>
    <p><%= messages.error %></p>
    
    <% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="LFG@app.com" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********"required>
    </div>
    <button type="submit">Login!</button>
    </form>
    <h4>Don't have an LFG account?<br> 
       Then <a href="/create">Create an Account Here!</a></h4>

<%- include("./partials/footer") %>