
<%- include("./partials/header") %>

<h1>Looking For Gamers</h1>
    
    <h3>The place where gamers find gamers.</h3>

    <p>Looking For Gamers is a revolutionary new social media platform designed to connect gamers together based on similar tastes.</p>


<h1>Login to LFG!</h1>

<h4>Returning User? If So Login to Your Existing LFG Account Below!</h4>
<h5>Or if you just created an account login here!</h5>
<% if (messages) { %>
    <p><%= messages.error %></p>
    
    <% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="LFG@app.com" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********"required>
    </div>
    <button type="submit">Login!</button>
    </form>
    <h4>Don't have an LFG account?<br> 
       Then <a href="/create">Create an Account Here!</a></h4>

       <h2>Gaming News</h2>

    <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/051f13100acadff723ab0a6d11b01c1c.jpg" alt="">

    <h3>This was Inevitable</h3>

    <h4>Microsoft's proposed $70 billion purchase of Activision Blizzard is just the beginning </br> by: Luke Plunkett</h4>

    <p>
        Microsoft’s purchase of Activision Blizzard has been momentous news today, as much for the scale of the deal as its shock value. But we shouldn’t be too surprised. 
        This was inevitable. A handful of companies have always wanted to own everything, and nothing is going to stop them. 
        The proposed sale—technicalities dictate I need to remind you that it still needs to be approved—involves some earth-shattering numbers. 
        $70 billion is fake money, a make-believe sum normally reserved for national budgets and defence deals. Uniting these two companies, 
        with all those properties and all those games, alongside a home console and a massively-popular subscription service, has instantly changed the entire shape of the video 
        game industry.
    </p>

    <a href="https://kotaku.com/this-was-inevitable-1848380310">Read More</a>

<%- include("./partials/footer") %>