<%- include("../partials/header") %>

<ul>
    <% games.forEach(function(i) { %>
        <li>
            <p>
                <%= i.title %>
                <a href="/games/<%= i._id %>">Info</a>
            </p>
        </li>
    <% }); %>
</ul>
<form action="/games/new" method="get">
    <button type="submit">Add Game</button>
</form>

<%- include("../partials/footer") %>