<%- include("../partials/header") %>

<h1>Womp Womp! Error, looks like you've already signed up for an account with that email!
    Try logging in or use another email address to create an account!
</h1>

<a href="/login">Login Page</a>
<a href="/create">Create an Account Page</a>


<%- include("../partials/footer") %>