
<%- include("../partials/header") %>

<h1>Login to LFG!</h1>

<h4>Returning User? If So Login to Your Existing LFG Account Below!</h4>

<form action="/<%=${User.id}=%>" method="post">


</form>

<%- include("../partials/footer") %>